/*
Colorblind safe color palette from colorbrewer2.org.
#92c5de - light blue
#0571b0 - blue
#f7f7f7 - white
*/

/* made the text body flush 
with our body container by changing the margin */
body {
    background-color: #92c5de;
    color: #0571b0;
    text-align: center;
    margin: 0;
}

h1 {
    color: #f7f7f7;
    padding: 5px;
    margin: 0;
}

footer {
    color: white;
    text-align: center;
    background-color: #175579;
    margin: 400px; 
    border: 2px solid #175579;
    border-radius: 25px;
}

/* makes a rounded border 
and container for my text attached to the first body tag */
#body-container {
    background-color: #f7f7f7;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
    border: 2px solid #f7f7f7;
    border-radius: 25px;
    overflow: hidden;
}

/* adds a blue bar at the top of the webpage */
#header {
    background-color: #0571b0;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

/* aligned the profile picture with the left side of the page */
#profile-picture {
    float: left;
}

/* and added spacing between paragraph text and welcome text
to distinguish the two, as the font sizes are the same */
#welcome-text {
    padding-top: 25px;
    font-size: 25px;
}

/* made the text uniform with welcome text size 
and added relative positioning based on the size of the window */
#research-interests {
    text-align: left;
    font-size: 25px;
    position: relative;
    left: 50px;
}